// Para referenciar uma classe, devemos usar o (.)
// Para referenciar uma ID, devemos usar o (#)

.container-header{
    position: relative;
    top: 0px;
    width: 100%;
    height: 100px;
    background-color: #efa7a7;

}